.users_wrapper{
    width: 100%;
    &_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        input{
            width: 250px;
            height: 35px;
        }
        button{
            background-color: green;
            border: none;
            outline: none;
            color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .25rem;
            cursor: pointer;
            &:hover{
                background-color: transparent;
                color: green;
                transition: .1s linear;
            }
        }
    }
}